html {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #93afcc;
    font-size: 16px;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.quiz-area {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #93afcc;
}

.quiz-area h2 {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif !important;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.quize-popover {
    width: 100%;
    background-color: #93afcc;
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin: 0 auto;
    /* padding: 2rem; */
}

.image-container {
    padding: 1rem;
    transition: transform 0.3s ease;
    position: relative;
}

.animal-img {
    background-color: #93afcc;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    cursor: pointer;
    /* border-radius: 50%; */
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); */
}

.image-container:hover {
    transform: scale(1.1);
}

.popover {
    max-width: 20.5rem;
    border-width: 2px;
    /* border-radius: 50%; */
}

.popover-correct {
    border-color: #28a745;
}

.popover-correct .popover-header {
    background-color: #28a745;
    color: white;
    text-align: center;
    font-weight: bold;
}

.popover-correct .popover-body {
    background-color: #d4edda;
    padding: 15px;
    text-align: center;
    color: #155724;
}

.popover-incorrect {
    border-color: #dc3545;
}

.popover-incorrect .popover-header {
    background-color: #dc3545;
    color: white;
    text-align: center;
    font-weight: bold;
}

.popover-incorrect .popover-body {
    background-color: #f8d7da;
    padding: 15px;
    text-align: center;
    color: #721c24;
}