html {
    font-family: "Josefin Sans", sans-serif;
    background-color: #FFFFF7;
    font-size: 16px;
    /* overflow-x: hidden; */
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.wait-for-final-exam {
    padding: 10rem;
    height: 100vh;
}

.header-container {
    width: 100%;
    height: 5rem;
    background-color: #675642;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    align-items: center;
}

.row-container {
    width: 16rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    margin-left: 2rem;
    height: 100%;
    padding: 1rem 0;
}

.logoword {
    font-size: 2.3rem;
    color: #FFFFF7;
    font-weight: bold;
    margin: 0;
    line-height: 1;
    display: flex;
    align-items: center;
}

.logo {
    height: 3rem;
    margin-left: 1rem;
}

.nav-list {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    text-decoration: none;
    margin-right: 0.8rem;
}

.nav-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 1.25rem;
}

.nav-link {
    font-size: 1.4rem;
    list-style: none;
    color: #FFFFF7;
    font-weight: bold;
    text-decoration: none;
}

.content-container {
    width: 100%;
    height: 5rem;
    background-color: #FFFFF7;
    display: flex;
    justify-content: center;
}

.subtitle {
    width: 100%;
    background-color: #DED9D1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}

.subtitle-container {
    width: 50vw;
    text-align: center;
}

.subtitle-container p {
    font-size: 1.25rem;
    line-height: 2.5rem;
    color: #2c344e;
}

.line {
    border: none;
    border-top: 1px solid #7D7D7D;
    width: 100%;
    margin: 1.5rem 0;
}

/* funfact入口 */
.funfact-intro {
    background-color: #FFFFF7;
    padding: 2rem 0 6rem 0;
    display: flex;
    gap: 1.5rem;
    max-width: 65rem;
    margin: 2rem auto;
    justify-content: center;
    align-items: center;
}

.funfact-intro img {
    width: 23.5rem;
    border-radius: 4rem;
    flex: 1;
    gap: 1rem;
    border: #faebc9 0.3rem double;
}

/* nancy圖片牆 */
.imagewall {
    width: 100%;
    background-color: #DED9D1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}

.two-column-container {
    display: flex;
    gap: 2.2rem;
    max-width: 65rem;
    margin: 0 auto;
}

/* 長方形卡片 */
.grid-item {
    flex: 1;
    display: flex;
    border: 1px solid #ddd;
    border-radius: 1rem;
    padding: 0.6rem;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 1.4rem;
}

.grid-item img {
    flex: 0 0 40%;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.grid-item-text {
    flex: 1;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid-item h3 {
    margin-top: 0;
    font-size: 1.4em;
    color: #333;
    border-bottom: 2px solid #67727e;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.grid-item p {
    font-size: 1em;
    color: #555;
    line-height: 1.6;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c344e;
    color: #FFFFF7;
    font-size: 1rem;
}

.vertical-line {
    height: 3rem;
    width: 2px;
    background-color: #FFFFF7;
    display: inline-block;
}

.right-graph {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 208px;
}