html {
    height: 100vh;
    overflow: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    /* background-color: antiquewhite; */
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: scroll;
}

.section1,
.section2 {
    width: 100%;
    min-height: 100vh;
    position: relative;
    transform-style: preserve-3d;
}

.section2 {
    background: #DED9D1;
}

.text {
    top: 30%;
    left: 50%;
    position: absolute;
    /* font-family: 'Franklin Gothic Heavy';
    font-size: 15vw;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
        5px 5px 70px rgba(255, 255, 255, 0.5); */
    transform: scale(1, 1.1) translate(-50%, 10%);
}

.section1::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("skyyyyyyyyy.png") top center;
    background-size: cover;
    transform: translateZ(-1px) scale(2.2);
    filter: blur(2px);
    z-index: -1;
}

.parallax-svg {
    width: 66%;
    top: 30%;
    left: 50%;
    position: absolute;
    transform: scale(1, 1.1) translate(-50%, 10%);
}

.section1::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("grasssssssss.png") top center;
    background-size: cover;
    z-index: 0;
}

.section1 .text {
    top: 10%;
    transform: translateZ(-0.5px) scale(1.5, 1.6) translate(-33%, 10%);
}